# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Testing
coverage

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Docs
*.md

# Misc
.eslintcache



